#woocommerce-product-data ul.wc-tabs li.lukio_bulk_img_options a::before {
    content: '\f540';
}

#lukio_product_bulk_variations_image {
    padding: 10px;
}

.lukio_product_bulk_variations_image_img_wrapper {
    margin-bottom: 10px;
}

.lukio_product_bulk_variations_image_img {
    width: 120px;
    height: 120px;
    object-fit: contain;
    border: solid 1px #000;
}

#lukio_product_bulk_variations_image .lukio_product_bulk_variations_image_picker {
    vertical-align: text-bottom;
}

#lukio_product_bulk_variations_image .lukio_product_bulk_variations_image_select_wrapper label {
    width: auto;
    margin: 0;
    float: none;
}

#lukio_product_bulk_variations_image .lukio_product_bulk_variations_image_select_wrapper select {
    float: none;
}

.lukio_product_bulk_variations_image_filters {
    width: max-content;
}

.lukio_product_bulk_variations_image_select_wrapper {
    margin-bottom: 10px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}